
<div class="container">



<div  class="acerca">
  <div> <h2 style="text-align: left;">Acerca de..</h2></div>


   
  <div class="row align-item" *ngFor="let acerca of acerca">

   <div>
      <a href="eliminar-acerca"><img class="icono_eliminar" src="assets/ico/boton-eliminar.png" alt="icono_eliminar"/></a>     
      <a href="edit-acerca" ><img class="icono_editar" src="assets/ico/boton-editar (2).png" alt="icono_editar"/></a>  
    
  </div> 
  
    <!--<td>{{ acerca.idaAcer}}</td>-->
    <h3>Id. {{ acerca.idaAcer}}</h3>
    <h3>{{ acerca.titleAcer}}</h3>
    <h3>{{ acerca.infoAcer }}</h3>
  </div>
</div>
</div>