<div class="container">
    <div class="experiencia">
    <h1>AGREGAR PROYECTO</h1>
    </div>
    <div class="container">
    
    <form [formGroup]="formProyecto" (ngSubmit)="submitEXPADD(formProyecto.value)">
     
        
        
     
        <div class="form-group">
        <label for="exampleFormControlInput">PROYECTO</label>
        <input type="text" class="form-control" placeholder="Nombre Experiencia" formControlName="titleProyecto">
      </div>
    
      <div class="form-group">
        <label for="exampleFormControlInput">Fecha</label>
        <input type="text" class="form-control" placeholder="fecha Proyecto" formControlName="fechaProyecto">
      </div>
    
      <div class="form-group">
        <label for="exampleFormControlInput">Imagen Proyecto</label>
        <input type="text" class="form-control" placeholder="Imagen URL" formControlName="imaProyecto">
      </div>
    
         
              

    <button type="submit" class="btn btn-primary">AGREGAR</button>
    
    </form>
    
    </div>
    
    </div>
    
